.grid {
  display: flex;
  flex-wrap: wrap;
  /*
  Safari :(
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr); 
  */
}

.board {
  width: 350px;
  height: 300px;
}
